[Unit]
Description=Discord Random Role Bot
After=network.target

[Service]
Type=simple
User=REPLACE_WITH_LINUX_USER
WorkingDirectory=REPLACE_WITH_PROJECT_PATH
EnvironmentFile=REPLACE_WITH_PROJECT_PATH/.env
ExecStart=REPLACE_WITH_PROJECT_PATH/venv/bin/python REPLACE_WITH_PROJECT_PATH/bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
